[submodule "submodules/ctrlp.vim"]
	path = submodules/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "submodules/nvimpager"]
	path = submodules/nvimpager
	url = git@github.com:lucc/nvimpager.git
