[submodule "submodules/ctrlp.vim"]
	path = submodules/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "submodules/nvimpager"]
	path = submodules/nvimpager
	url = git@github.com:lucc/nvimpager.git
[submodule "submodules/nvim-lspconfig"]
	path = submodules/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "submodules/goto-preview"]
	path = submodules/goto-preview
	url = git@github.com:rmagatti/goto-preview.git
