[submodule "submodules/vimpager"]
	path = submodules/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "submodules/vim-go"]
	path = submodules/vim-go
	url = https://github.com/fatih/vim-go.git
