[color]
	diff = auto
	status = auto
	branch = origin
[user]
	name = yartFF
	email = carbonel.q@gmail.com
[core]
	editor = vim
[web]
	browser = google-chrome
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
